.logo{
  text-align: center;
}
.menu ul {
  text-align: center;
  color: white;
  background-attachment: fixed;
  background-color: green;
  font-size: large;
  font-weight: bold;
  list-style: none;
}
.menu ul *{
  color: white;
  text-decoration: none;
}

.menu > ul > li{
  display: inline-block;
  margin-right: 10px;
}
 
.img{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  background-color: green;
  color: white;
}
.contact{
  background-color: rgba(127, 255, 212, 0.719);
}
.section{
  padding: 50px;
}