
span{
  color: var(--color-main);
}
.about{
  padding-top: 20px;
  display: flex;
  align-items: flex-start;
  flex-flow: column;
  list-style-type: none;
  gap: 20px;
}
.about .link{
  text-decoration: none;
}
@media (min-width: 576px){
.about{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.about2{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .imageWrapper{
  position: relative;
}
.about .imageWrapper::before{
  content: "";
  border: 5px solid var(--color-main);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -1rem;
  margin-left: -1rem;

}
}