* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*frameworks*/
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

html{
  scroll-behavior: smooth;
}
/*mano css */
@import url('./header.css');