@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --color-main: #645cff;
  --color-main_2: #d5d5fc;
  --color-main_3: #3a3a6b;

  --padding_1: 0.5rem;
  --padding_2: 1rem;
  --padding_3: 1.5rem;
  --padding_4: 2rem;

  --gap_1: 1rem;
  --gap_2: 2rem;

  --font-main: 'Roboto', sans-serif;

  
}