#uptades{
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  gap: var(--gap_1);
}

.buttonIn {
  width: 300px;
  position: relative;
}
input {
  width: 98%;
  outline: none;
  height: 30px;
}

.buttonIn .submit {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  top: 2px;
  height: 30px;
  color: black;
  background-color: rgb(230, 217, 217);
}
@media (min-width: 576px){
  #uptades{
    align-items: flex-start;
    padding: 1rem;
  }
  #uptades .uptadesisdestymas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} 
.buttonIn .submit:hover{
  color: white;
  background-color: var(--color-main);
}
}
